*.pyc
.DS_Store
.vscode/
__pycache__/
env/
venv/
venv1/
env*/
**/__pycache__/

embeddings/glove_vectors.json
embeddings/glove.6B.100d.txt

model_aug20/***/*.*

model_aug20/*.*

model*.*/*.*
model_output/*

